Makefile
config.log
config.status
autom4te.cache
configure
*.so
*.o
core
pkgIndex.tcl
*.swp
*.gcda
*.gcno
last
tags
Makefile.teabase
configure~
doc/hash.n
doc/.build
perf.data
perf.data.old
configure_debug.sh
configure_optimised.sh
